.grid {
  display: grid;
  gap: 15px;
}

.item {
  display: grid;
  grid-template-columns: 30px repeat(2, 2fr) 100px repeat(4, 1fr);
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.item > p {
  display: flex;
  align-items: center;
  gap: 6px;
}

.item:first-child {
  border-bottom: 2px solid black;
}

.item:first-child > p {
  text-align: center;
}

.btn {
  height: 40px;
  margin-top: 30px;
}

.wrap {
  display: grid;
  width: 200px;
  height: 400px;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
}

input {
  background: rgb(221, 249, 249);
  color: rgb(65, 130, 1);
  font-weight: bolder;
  text-align: center;
}

button {
  margin-left: 23%;
  border-radius: 8px;
  padding: 6px 20px;
  background: rgb(66, 203, 199);
  color: azure;
}

button:active,
button:hover {
  background: rgb(241, 245, 245);
  color: rgb(14, 161, 161);
}

p {
  margin-left: 17%;
  margin-top: 15px;
  color: rgb(41, 177, 33);
  text-shadow: 1px 2px 0 rgb(74, 74, 74);
  font-size: 30px;
  font-weight: bold;
}
